
    <section class="register_login_box"> 
      
            <div class="l-form">
              <div class="shope1"></div>
              <div class="shope2"></div>
              
              <div class="form">
                
                <form method="POST" action="/auth/register" class="form__content">
                  <%- include(viewPath('layouts/error-messages')) -%>
                  <h1 class="form__title">صفحه عضویت</h1>
                  <p>برای تکمیل فرایند خرید خود ثبت نام کنید.</p>
                  <div class="form__div form__div-one">
                    
                    <div class="form__icon">
                      <i class="bx bx-user-circle"></i>
                    </div>
                    <div class="form__div-input">
                      <label for="" class="form__label">نام و نام خانوادگی</label>
                      <input type="text" name="name" id="name" value="<%= old('name') %>" class="form__input">
                    </div>
                  </div><!--form__div-->
                  <div class="form__div form__div-one">
                    
                    <div class="form__icon">
                      <i class='bx bxs-phone'></i>
                    </div>
                    <div class="form__div-input">
                      
                      <input type="text" name="phone" id="phone" value="<%= old('phone', mobile) %>" class="form__input">
                    </div>
                  </div><!--form__div-->
                  <div class="form__div form__div-one">
                    
                    <div class="form__icon">
                      <i class='bx bx-mail-send' ></i>
                    </div>
                    <div class="form__div-input">
                      <label for="" class="form__label">ایمیل</label>
                      <input type="text" name="email" id="email" value="<%= old('email') %>" class="form__input">
                    </div>
                  </div><!--form__div-->
                  <div class="form__div">
                    <div class="form__icon">
                      <i class="bx bx-lock"></i>
                    </div>
                    <div class="form__div-input">
                      <label for="" class="form__label">پسورد</label>
                      <input type="password"  name="password" id="password" value="<%= old('password') %>" class="form__input">
                    </div>
                  </div><!--form__div-->
                  <div class="form-group">
                    <%- recaptcha %>
                    </div>
                  <input type="submit" class="form__button" value="ثبت نام">
                  <input type="submit" class="form__button__google" value="ورود با اکانت گوگل">
                  <p>اگر قبلا ثبت نام کردید وارد <a class="register_link" href="#">صفحه ورود شوید.</a></p>
                  
                </form>
                <img src="/images/icon/Authentication_Two.png" class="form__img" alt="">
              </div>
            </div><!--l-form-->
    </section>
  