<div class="row">
    <div class="col-sm-12 col-md-10">
        <div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
            <h2>مشخصات وبسایت از جمله : لگوی وبسایت ، ایمیل و شماره تلفن و متن توضیح </h2>
        </div>
    </div>
    <div class="col-sm-12 col-md-2">
        <div class="text-left">
            <a href="/admin/logo" type="submit" class="btn btn-info">بازگشت</a>
        </div>
    </div>
</div><!--row-->
    
    <form class="form-horizontal" action="/admin/logo/create" method="post" enctype="multipart/form-data">

        <%- include(viewPath('layouts/error-messages')) -%>
        
        <div class="form-group row">
            <div class="col">
                <label for="email" class="control-label font-weight-bold">ایمیل وبسایت</label>
                <input type="text" class="form-control" name="email" value="<%= old('email') %>" id="email">
            </div>
            <div class="col">
                <label for="phone" class="control-label font-weight-bold">شماره تلفن وبسایت</label>
                <input type="text" class="form-control" name="phone" value="<%= old('phone') %>" id="phone">
            </div>
            <div class="col">
                <label for="address" class="control-label font-weight-bold">آدرس</label>
                <input type="text" class="form-control" name="address" value="<%= old('address') %>" id="address">
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col">
                <label for="body" class="control-label font-weight-bold">متن توضیح هدف وبسایت</label>
                <textarea rows="10" class="form-control" name="body" id="body" placeholder="متن مقاله را وارد کنید">
                  <%= old('body') %>
                </textarea>
            </div>
            <div class="col">
                <label for="body2" class="control-label font-weight-bold">متن توضیح در قسمت فووتر</label>
                <textarea rows="10" class="form-control" name="body2" id="body2" placeholder="متن مقاله را وارد کنید">
                  <%= old('body2') %>
                </textarea>
            </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <div class="button_outer">
                        <div class="btn_upload">
                            <input type="file" id="img" name="file">
                            آپلود تصویر لگو
                        </div>
                        <div class="processing_bar"></div>
                        <div class="success_box"></div>
                    </div>
                    <img class="z-depth-2" src="#" id="imgPreview" alt="">   
                </div>
            </div>
        <div class="form-group row">
                <div class="col">
                    <button type="submit" class="btn btn-danger">ارسال</button>
                </div>
            </div>
    </form>

    <script src="/ckeditor/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>
    <script>
    
        $('.form-control-chosen').chosen({});    
    </script>
    <script>
        CKEDITOR.replace('body' , {
             filebrowserUploadUrl : '/admin/upload-image'
         });
         CKEDITOR.replace('body2' , {
             filebrowserUploadUrl : '/admin/upload-image'
         });
    </script>
       