<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
        <h2>محصولات پوست</h2>
        <div class="btn-group">
            <a href="/admin/skins/create" class="btn btn-sm btn-primary">ایجاد محصول جدید</a>
            <a href="/admin/gullerys_skin" class="btn btn-sm btn-danger">گالری تصاویر</a>
        </div>
    </div>
    <form class="form-horizontal" action="/admin/skins/generate-fake-posts" method="post">

        <div class="form-group row">
            <div class="col">
                <label for="amount" class="control-label font-weight-bold">ساختن پست ساختگی</label>
                <input type="text" name="amount" class="form-control" placeholder="تعداد را وارد کنید">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <button type="submit" class="btn btn-danger">ساختن</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>تصویر محصول</th>
                <th>عنوان محصول</th>
                <th>مقدار بازدید</th>
                <th>قیمت محصول</th>
                <th>مرتب سازی بر اساس</th>
                <th>وضعیت محصول</th>
                <th>تاریخ</th>
                <th>تنظیمات</th>
            </tr>
            </thead>
            <tbody>
                <% skins.docs.forEach(skin =>{ %>
                    <tr>
                        <td><img src="/uploads/<%= skin.file %>" class="img-fluid" width="100px" alt=""></td>
                        <td><a href="#"><%= skin.title %></a></td>
                        <td><%= skin.viewCount %></td>
                        <td><%= skin.price %></td>
                        <td><%= skin.typeToPersian() %></td>
                         <td><%= skin.typetwoToPersian() %></td>
                        <td>
                            <%= date(skin.createdAt).format('jD jMMMM jYYYY') %>
                        </td>
                        <td>
                            <form action="/admin/skins/<%= skin._id %>?_method=DELETE" method="post">
                                
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_token" value="Dso45XzqoXsAkRC8BBMQ63ZsOFS0c2tELkxR4i3Y">
                                <div class="btn-group-sm">
                                    <a href="/admin/skins/<%= skin._id %>/edit"  class="btn btn-primary">ویرایش</a>
                                    <button type="submit" class="btn btn-danger">حذف</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        
        <%- include(viewPath('layouts/pagination') ,{ pagination : skins}) %>
    </div>
    
    