
  <section class="products_category mb-4 mt-5">
    <div class="sidebar_product">
      <div class="row">
        <%
            let {type , typetwo, brand,modelBrand, device, country,gender,performance } = req.query; 
        %>
        <div class="col-12 col-md-3 col-lg-3">
          <div class="sidebar_box">
            <h5>دسته بندی ها</h5>
            <div class="line-shope"></div>
            <ul class="list-unstyled components mb-3 mt-3">
              <% for (i = categories.length - 2; i >= 0; i--) { %>
              <li class="active">
                <a href="#Submenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                  <%= categories[0].name %>
                </a>
                <% if(categories[0].childs){ %> 
                  <% categories[0].childs.forEach(cate => { %>
              <ul class="list-unstyled collapse" id="Submenu1">
              <li>
              <a href="/skins?category=<%= cate.slug %>"><%= cate.name %></a>
              </li>
              <% }) %>
              <% } %>
              </ul>
              </li>
              
              <% } %>
              </ul>
          </div>
          <form action="/cosmetics" method="GET">
          <div class="sidebar_box mt-3">
            <h5>وضعیت محصول</h5>
            <div class="line-shope"></div>
            <div class="boxes mt-2">
              <input type="checkbox" name="typetwo" value="available" <%= typetwo === 'available' ? 'checked' : '' %> id="box-2">
              <label for="box-2" name="typetwo">موجود</label>
            </div>
          </div>
          <div class="sidebar_box mt-3">
            <div class="e3" style="width: 300px;">

          
            <ul class="list-unstyled components mb-3">
              <li class="active">
                <a href="#Submenu66" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle brand collapsed">
                  براساس برندها
                </a>
               
              <ul class="list-unstyled collapse" id="Submenu66">
              
                <div class="boxes mt-2">
                <% countries.forEach(coun =>{ %>
                    <input type="checkbox" value="<%= coun.slug %>"  name="country" <%= coun.slug === country ? 'checked' : '' %> id="<%= coun.slug %>">
                    <label for="<%= coun.slug %>"><%= coun.name %></label>
                  
                  <% }) %> 
                </div>
              
             
              </ul>
              </li>
              </ul>
            </div>  
          </div>
          
          
          <div class="sidebar_box mt-3">
            <a href="#" class="btn btn-shop mt-2 btn-bubble filter">اعمال فیلتر</a>
          </div>
        </form>
        </div>
        <!--end_Sidebar-->
        <div class="col-12 col-md-9 col-lg-9">
          <div class="product_item">
            <div class="product_item_heading">
              <div class="row">
                <% let {search} = req.query; %>
                <% if(search) { %> 
                  <div class="col-8 col-md-8">
                    <h1>عبارت جستجو شده : <%= search %></h1>
                  </div>
                  <div class="col-4 col-md-4 text-left">
                    <p>تعداد محصول: <span><%= cosmeticCount %></span></p>
                  </div>
                  <% }else{ %> 
                <div class="col-8 col-md-8">
                  <h1>محصولات آرایشی</h1>
                </div>
                <div class="col-4 col-md-4 text-left">
                  <p>تعداد محصول: <span><%= cosmeticCount %></span></p>
                </div>
                <% } %>
              </div>
              
            </div>
            <div class="product-container mb-4">
              <!--product-box-1-->
              <% if(cosmetics.docs.length) { %> 
              <% cosmetics.docs.forEach(cosmetic=> { %>
              <div class="product-box hover hover-4">
                <!--img-------->
                <div class="product-img">
                   <!--add-cart------->
                   <span class="heart-shop">
                    <a href="#"><i class="far fa-heart"></i></a>
                  </span>
                  <a href="<%= cosmetic.path() %>">
                  <img src="/uploads/<%= cosmetic.file %>" alt="<%= cosmetic.title %>">
                </a>
                </div>
                <!--details-->
                <div class="product-details">
                  <a href="<%= cosmetic.path() %>" class="p-name"><h2><%= cosmetic.title %></h2></a>
                  <% if(cosmetic.notprice){ %>
                    <span class="p-notprice"><%= cosmetic.notprice %></span>
                  <% } %>
                  <span class="p-price"><%= cosmetic.price %> تومان</span>
                  <% if(cosmetic.typetwo == 'available') { %>
                    <div class="btn_cart">
                        <a href="/cart/addItem<%= cosmetic.path() %>" class="buttton p-shop_cart"><i class="fas fa-shopping-cart"></i></a>
                    </div> 
                  <% }else{ %>
                      <span class="available-text"> محصول موجود بود به من خبر بده</span><br>
                      <form id="available" action="/available/<%= cosmetic._id %>" method="POST">
                        <div class="ui labeled button" tabindex="0">
                        <button class="buttton p-shop_cart" type="submit">
                        <i class="far fa-bell"></i>
                            <%= cosmetic.available %>                         
                        </button>
                    </div>
                        
                    </form> 
                    <% } %>
                </div>
              </div>
              <% }) %>
              <% }else{ %>
                <div class="row">
                  <div class="col-12 col-md-12 text-center mr-5">
                      <div class="never alert alert-danger mt-5 mx-auto">
                          <p class="mt-1">محصولی یافت نشد.</p> 
                      </div>
                  </div>
              </div>
              <% } %>
            </div>

            <%- include(viewPath('layouts/pagination') ,{ pagination : cosmetics}) %>
            
          </div>
        </div>
      </div><!--row-->
    </div>
  </section>

</body>
</html>