<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3 text-right">
                <%- include(viewPath('home/panel/sidebar')); %>
            </div>
            <div class="col-12 col-md-9 col-lg-9 text-right">
                <div class="profile-left pt-3">
                    <div class="profile-title">
                        <h4>سفارش های من</h4>
                    </div>
                    <div class="history mt-5">
                        <% if(payments.docs.length ){ %> 
                        <% payments.docs.forEach(payment => { %>
                            
                        <div class="row mb-3">
                            <div class="col-6 col-md-8 col-lg-8">
                                <div class="item-history">
                                    <% var text=payment.products %> <% var obg=JSON.stringify(text); %> 
                                    <h3><%= Array(obg) %></h3>
                                    
                                    <div class="history-time mt-3">
                                      <span>زمان خرید : <span class="time"><%= date(payment.createdAt).format('jD jMMMM jYYYY') %></span></span>  
                                      <span>قیمت محصول : <span class="price"><%= payment.price %> تومان </span></span>
                                    </div>
                                </div><!--item-history-->
                            </div>
                            <div class="col-5 col-md-4 col-lg-4 text-left">
                                <div class="item-history">
                                    خرید :
                                    <span class="<%= payment.payment ? 'colorSuccess' : 'colorDanger' %>"><%= payment.payment ? 'موفق' : 'ناموفق'%></span>
                                    
                                </div><!--item-history-->
                            </div>
                            
                        </div><!--row-->
                        <hr>
                        
                        <%  }); %>
                        
                        <% }else{ %>
                            <div class="row">
                                <div class="history-empty text-center">
                                    <p class="mx-auto">
                                        کاربر گرامی تا به حال سفارشی نداشته اید.
                                    </p>
                                    <img src="/images/icon/OnlinePayment.png" alt="">
                                </div>
                            </div>
                        <% } %>
                    </div>
                    
                    <%- include(viewPath('layouts/pagination') ,{ pagination : payments}) %>
                </div><!--profile-left-->
            </div>
        </div><!--row-->
    </div>
</section>